@media screen and (max-width: 768px) {
  .grid{
   
    padding-top: 60px;
    
    
  }
  .grid img {
    height: 600px;
    width: auto;
    max-width: 100%; 
  }
 
}
@media screen and (max-width: 420px) {
  .grid{
   
    padding-top: 60px;
    
    
  }
  .grid img {
    height: 400px;
    width: auto;
    max-width: 100%; 
  }
 
}

  