@media screen and (max-width: 768px) {
  .grid{
   
    padding-top: 60px;
    
    
  }
  .grid img {
    height: 600px;
    width: auto;
    max-width: 100%; 
  }
 .footer-text{
  display: none;
 }
}
@media screen and (max-width: 420px) {
  .grid{
   
    padding-top: 60px;
    
    
  }
  .grid img {
    height: 200px;
    width: auto;
    max-width: 100%; 
  }

}

  